@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* estilos mobile */

/* estilos nav */

.navbar{
    background-color: white !important;
    border-bottom: 2px solid black;
    height: 80px;
}

.nav-link {
    font-size: 14px;
    color: black !important;
}

#navbarNav{
    background-color: white;
}

/* estilos main */

article{
    /* border: 2px solid black; */
    height:500px;
}

#img-izq{
    width: 100%;
    height: 500px;
    /* background-color: violet; */
    background-image: url(/imagenes/ceramica4.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}

#img-der{
    width: 100%;
    height: 500px;
    /* background-color: orange; */
    background-image: url(/imagenes/imagen1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#boton1{
    font-size: 25px;
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sec2{
    border-top: #000 1px solid;
}

#sec2 p{
    width: 100%;
    text-align:right;
    border-bottom: 1px solid #000;
    font-size: 17px;
    padding-top: 41.5px;
    padding-bottom: 41.5px;
    padding-right: 18px;
}

#sec2 p a{
    text-decoration: underline;
    color:black;
}

#sec3 form {
    height: 100px;
    width: 100%;
    /* text-transform:uppercase; */
    text-align: center;
    color:black;
    font-size: 14px;
    height: 150px;
}

footer{
    height:60px;
    font-weight: 100%;
    background-color:#d9d9d9;
}

footer ul li{
    font-size: 14px;
    padding-top: 23px;
    padding-right: 23px;
    display: inline-block;
    padding-left: 20px;
}

footer ul a {
    color:black;
    text-decoration: none;
}

/* estilos page about */

#main-about{
    height: 500px;
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

#main-about div p{
    font-size: 16px;
    height: 400px;
    width: 100%;
    padding: 30px 30px;
}

#img3{
    background-image: url(/imagenes/taller1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}

@media screen and (min-width: 1024px) {
    .navbar{
        background-color: white !important;
        border-bottom: 2px solid black;
        height: 80px;
    }
    
    .nav-link {
        font-size: 14px;
        color: black !important;
    }
    
    #navbarNav{
        background-color: white;
    }
    
    /* estilos main */
    
    /* .row{
        border-bottom: 1px solid black;
    } */
    
    article{
        /* border: 2px solid black; */
        height:900px;
    }
    
    #img-izq{
        width: 100%;
        height: 900px;
        /* background-color: violet; */
        background-image: url(/imagenes/ceramica4.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80%;
    }
    
    #img-der{
        width: 100%;
        height: 900px;
        /* background-color: orange; */
        background-image: url(/imagenes/imagen1.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #boton1{
        font-size: 25px;
        color:white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    #sec2{
        border-top: #000 1px solid;
    }
    
    #sec2 p{
        width: 100%;
        text-align:right;
        border-bottom: 1px solid #000;
        font-size: 17px;
        padding-top: 41.5px;
        padding-bottom: 41.5px;
        padding-right: 18px;
    }
    
    #sec2 p a{
        text-decoration: underline;
        color:black;
    }
    
    #sec3 form {
        height: 100px;
        width: 100%;
        /* text-transform:uppercase; */
        text-align: center;
        color:black;
        font-size: 16px;
        height: 150px;
    }
    
    footer{
        height:100px;
        font-weight: 100%;
        background-color:#d9d9d9;
    }
    
    footer ul li{
        font-size: 14px;
        padding-top: 43px;
        padding-right: 43px;
        display: inline-block;
        padding-left: 20px;
    }
    
    footer ul a {
        color:black;
        text-decoration: none;
    }

    /* estilos page about */

#main-about{
    height: 900px;
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

#main-about div p{
    font-size: 16px;
    height: 500px;
    width: 100%;
    padding: 30px 30px;
}

#img3{
    background-image: url(/imagenes/taller1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 900px;
}
}
